<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics.Signed" version="4.9.1" />
  <package id="MathNet.Spatial.Signed" version="0.6.0" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" />
  <package id="Microsoft.MixedReality.QR" version="0.5.3037" />
  <package id="Microsoft.VCRTForwarders.140" version="1.0.5" />
  <package id="Newtonsoft.Json" version="13.0.1" />
  <package id="System.Drawing.Common" version="4.7.2" />
</packages>